body {
    margin: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

#centerContainer {
    width: 56.25vh;  /* 16:9 aspect ratio */
}

#upperBar {
    height: 10%;
    background-color: blue;
}

#dialogContainer {
    height: 25%;
    background-color: red;
    display: flex;
    justify-content: center;
}

#buddyContainer {
    height: 30%;
    background-color: green;
}

#choiceContainer {
    height: 35%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    width: 80%;
    margin: 0.5vh;
}

#dialogBox {
    width: 100%;
    margin: 5vh;
    background: white;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
